.modalContainer{
    position:absolute ;
    width: 335px;
    top: 110px;
    background-color: white;
    display: none;
    flex-direction: column;
    color: var(--clr-dark-gray);
    z-index: 10;
}

.modalHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    color: var(--clr-black);
}

.modalHeader>img{
    width: 15px;
    height: 15px;
    transition: transform .3s ease-in-out;
}

.modalHeader>img:hover{
    transform: rotate(90deg);
    fill: black;
}

.pledgeSection{
    box-sizing: border-box;
    border: 1px solid var(--clr-dark-gray);
}

.modalBackground{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    border: none;
    background-color: hsla(0, 0%, 0%, 0.411);
    display: flex;
    justify-content: center;
    z-index: -10;
}

@media only screen and (min-width: 1080px) {
    .modalContainer{
        width: 50%;
    }
}