nav{
    box-sizing: border-box;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:center;
    top: 0;
    margin: 0 auto 0 auto;
    padding: 0 1em;
    height: 10vh;
    width: 100%;
    max-width: 375px;
    z-index: 9;
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 50%, transparent);
}

nav>img{
    width: 100%;
    margin: 0;
    z-index: 999;
}

.logo{
    width: 40%;
    max-width: 140px;
    margin-right: auto;
}

.menuIcon{
    margin-left: auto;
    width: 15px;
}

@media only screen and (min-width: 1080px) {
    nav{
        max-width: 100%;
        padding: 0 5em;
        justify-content: space-between;
        padding: 0 8em;
    }
    .menuIcon{
        display: none;
    }

    .logo{
        margin-right: 0;
        padding-left: 1em;
    }
}