nav{
    box-sizing: border-box;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:center;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0 6vw 0 6vw;
    height: 10vh;
    width: 100%;
    z-index: 999;
}

nav>img{
    width: 100%;
    margin: 0;
    z-index: 999;
}

.logo{
    width: 35vw;
    max-width: 350px;
    margin-right: auto;
}

.menuIcon{
    margin-left: auto;
    width: 15px;
}