.aboutProject{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--clr-dark-gray);
    text-align: left;
}

.aboutProject>h1{
    color: var(--clr-black);
    align-self: flex-start;
    font-size: 1.2em;
    font-weight: var(--ff-wght-heading);
}

.aboutProject>.pledgeSection{
    border: 1px solid var(--clr-dark-gray);
}

@media only screen and (min-width: 1080px) {
    .aboutProject{
        font-size: 1em;
        font-weight: var(--ff-wght-button);
    }
}