#bookmarkBtn{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.btnBookmark{
    display: none;
    order: 2;
    z-index: 1;
    border-radius: 0 35px 35px 0;
    padding-left: 60px;
}

.btnBookmark:hover{
    background-color: whitesmoke !important;
}

.bookmarkLogo{
    margin-left: auto;
    order: 1;
    z-index: 2;
}

@media only screen and (min-width: 1080px) {
    .btnBookmark{
        display: inline;
        color: #2F2F2F;
    }
    .bookmarkLogo{
        transform: translateX(50px);
    }
}