.btn{
    cursor: pointer;
    display: inline;
    font-weight: var(--ff-wght-button);
    border-radius: 35px;
    padding: 1em 1.8em 1em 1.8em;
    background-color: var(--clr-primary-cyan);
    color: white;
    margin: 0;
}

.btn:hover{
    background-color: var(--clr-secondary-cyan);
}