.btn{
    cursor: pointer;
    display: inline;
    font-weight: var(--ff-wght-heading);
    border-radius: 35px;
    padding: 1em 2em;
    background-color: var(--clr-primary-cyan);
    color: white;
    letter-spacing: normal;
    margin: 0;
}

.btn:hover{
    background-color: var(--clr-secondary-cyan) !important;
}