.DataInfoCardWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.DataInfoCardWrapper h1{
    font-size: 2.5em;
    margin: 0.5rem;
}

.DataInfoCardWrapper p{
    color: var(--clr-dark-gray);
}

.divider{
    height: 1px;
    border: none;
    background-color: var(--clr-dark-gray);
    width: 5em;
}

#projectProgressBar{
    display: block;
    height: auto;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 1em;
}

#progressBar{
    width: 30%;
    height: 0.9rem;
    background-color: var(--clr-primary-cyan);
    border-radius: 10px;
}

@media only screen and (min-width: 1080px) {
    .DataInfoCardWrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        font-size: 0.7em;
        text-align: center;
    }
    .divider{
        height: 5em;
        width: 1px;
        margin: 0 1em;
    }
    #projectProgressBar{
        width: 100%;
    }
}