.menuWrapper{
    display: none;
    position: absolute;
    background-color: white;
    flex-direction: column;
    justify-self: center;
    top: 10vh;
    font-weight: var(--ff-wght-button);
    border-radius: 8px;
    overflow:hidden;
    width: 88%;
    box-shadow: 2em 0 20em 5em hsla(0, 0%, 0%, 0.5);
}

.menuWrapper>a{
    margin: 0;
    text-decoration: none;
    color: var(--clr-black);
    box-shadow: 1px 0 1px 0px gray;
    padding: 1.6em 0 1.6em 1em;
    font-weight: var(--ff-wght-button);
}

.push{
    margin-left: auto;
}