.lowerSection{
    display: none;
    flex-direction: column;
    padding: 0.2em 1.2em 1em 1.2em;
    height: min-content;
}

.lowerSection>p{
    text-align: center;
    color: var(--clr-dark-gray);
    font-weight: var(--ff-wght-button);
    font-size: 0.9em;
}

.inputs{
    display: flex;
    height: min-content;
    align-items: center;
    margin: 0;
}

.pledgeInputBox{
    cursor: pointer;
    display: flex;
    font-weight: var(--ff-wght-heading);
    border-radius: 35px;
    padding: 1.2em 2.2em;
    background: none;
    color: var(--clr-dark-gray);
    letter-spacing: normal;
    border: 0.1em solid rgba(102, 102, 102, 0.185);
    height: 4em;
    margin-right: 1em;
    font-size: 0.75rem;
}

.pledgeInputBox>label>input{
    width: 40px;
    appearance: none;
    border: none;
    background: none;
    font-weight: var(--ff-wght-heading);
    font-size: 0.9rem;
    padding-left: 0.5em;
}

.pledgeInputBox>label>input:focus{
    outline: none;
    border: none;
}

@media only screen and (min-width: 1080px) {
    .lowerSection{
        padding-top: 2em;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .inputs{
        margin-left: auto;
        width: fit-content;
    }
}