.mobile{
    background-image: url("./images/image-hero-mobile.jpg");
    background-position: 50% -5px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.defaultTheme{
    --clr-primary-cyan: hsl(176, 50%, 47%);
    --clr-secondary-cyan: hsl(176, 72%, 28%);
    --clr-black: hsl(0, 0%, 0%);
    --clr-dark-gray: hsl(0, 0%, 48%);

    --ff-wght-text: 400;
    --ff-wght-button: 500;
    --ff-wght-heading: 700;

    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Commissioner', sans-serif;
    width: 100%;
    background-color:whitesmoke;
}

.articleWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30vh;
    width: 80%;
}

.card{
    width: 100%;
    height: auto;
    border-radius: 12px;
    background-color: white;
    border: 1px solid rgba(224, 221, 221, 0.493);
    margin-bottom: 1.5em;
    padding: 1em;
}

