.defaultTheme{
    --clr-primary-cyan: hsl(176, 50%, 47%);
    --clr-secondary-cyan: hsl(176, 72%, 28%);
    --clr-black: hsl(0, 0%, 0%);
    --clr-dark-gray: hsl(0, 0%, 48%);

    --ff-wght-text: 400;
    --ff-wght-button: 500;
    --ff-wght-heading: 700;

    font-size: 16px;
    font-family: 'Commissioner', sans-serif;
    width: 100%;
}